
# BEGIN AndroApp
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-json/(.*)/$ /?rest_route=/$1 [NC,L,QSA]
RewriteRule ^wp-json/(.*)$ /?rest_route=/$1 [NC,L,QSA]
</IfModule>
# END AndroApp
# BEGIN rlrssslReallySimpleSSL rsssl_version[3.1.5]
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTPS} !=on [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>
# END rlrssslReallySimpleSSL
# BEGIN Really_Simple_SSL_HSTS
<IfModule mod_headers.c>
Header always set Strict-Transport-Security: "max-age=31536000" env=HTTPS
</IfModule>
# END Really_Simple_SSL_HSTS

# BEGIN Really_Simple_SSL_UPGRADE_INSECURE_REQUESTS
<IfModule mod_headers.c>
Header always set Content-Security-Policy "upgrade-insecure-requests;"
</IfModule>
# END Really_Simple_SSL_UPGRADE_INSECURE_REQUESTS
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress